body {
    padding: 20px;
}

#card {
    width: 100%; /* Set the width to be a percentage */
    height: auto; /* Set the height to be automatic */
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

#top-section {
    width: 100%; /* Set the width to be a percentage */
    padding: 25px;
}

#bottom-section {
    width: 100%; /* Set the width to be a percentage */
    height: auto; /* Set the height to be automatic */
    color: white;
    display: flex; /* using flex display allows the elements inside to be responsive */
}

#left-bottom-section, #right-bottom-section {
    /* Set the width to be a percentage and add flex-basis, also set height to be automatic*/
    width: 100%;
    height: auto;
    flex-basis: 50%;
    padding: 25px;
}

/* Add this media query to adjust the layout on screens that are less than 650px wide */
@media (max-width: 650px) {
    #left-bottom-section, #right-bottom-section {
        flex-basis: 100%;
    }
}
